[submodule "bridge/bridge"]
	path = bridge/bridge
	url = git@github.com:storj/bridge
[submodule "complex/complex"]
	path = complex/complex
	url = git@github.com:retrohacker/complex
[submodule "farmer/storjshare-cli"]
	path = farmer/storjshare-cli
	url = git@github.com:retrohacker/storjshare-cli
[submodule "cli/core-cli"]
	path = cli/core-cli
	url = git@github.com:storj/core-cli
